.env.local
.DS_Store
Docker/__pycache__

venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

try.py

dist/
*.egg-info/
helpers/*
json_template/



# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
# dist
# dist-ssr
# *.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.env
.env.*.local
.env.production
.gitignore




